// Set process parameters
process {
    executor = "slurm"
    queue = "cpuq"
}

// Set parameters for max resources
params {
    // Resource options
    max_memory = "128.GB"
    max_cpus = 16
    max_time = "24.h"
    
    // iGenome path
    igenomes_base = "/processing_data/reference_datasets/iGenomes/2023.1/"
}